@model Base_Datos.Models.Cuota_Extra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cuota_Extra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factura.ID_Factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.ID_Factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Couta_Extra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
